---
import BaseHeader from "./parts/BaseHeader.astro";
import Navbar from "./parts/Navbar.astro";
import Footer from "./parts/Footer.astro";

import "../styles/styles.css";
---

<!doctype html>
<html>
	<BaseHeader />
	<body>
		<div class="p-8">
			<Navbar />
			<slot />
		</div>
		<Footer />
	</body>
</html>
