---
import Layout from "../../layouts/Layout.astro";
import BannerContact from "../../components/contact/BannerContact.astro";
import ItemToContact from "../../components/contact/ItemToContact";
---

<Layout>
	<div class="gap-2">
		<div class="grid grid-cols-1 lg:grid-cols-2 items-center">
			<BannerContact />
			<div class="p-10 border-l-1 space-y-4">
				<ItemToContact
					icon="src/assets/icons/facebook.svg"
					item="Ubicación"
					info="Lomas de Zamora, Buenos Aires, Argentina"
				/>
				<ItemToContact
					icon="src/assets/icons/facebook.svg"
					item="Teléfono"
					info="+54 11 4245 2143"
				/>
				<ItemToContact
					icon="src/assets/icons/facebook.svg"
					item="WhatsApp - Asistencia técnica y consultas (24/7/365)"
					info="+54 9 11 3653 6916"
				/>
				<ItemToContact
					icon="src/assets/icons/facebook.svg"
					item="Email"
					info="consultas@silcon.com.ar"
				/>
			</div>
		</div>

		<!-- Mapa -->
		<div>
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26221.153947381026!2d-58.43340546224883!3d-34.76455348246211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd261abf8fb75%3A0xd3b4119f62723032!2sLomas+de+Zamora%2C+Buenos+Aires!5e0!3m2!1ses!2sar!4v1534778126623"
				class="w-full h-[400px] border-0"
				allowfullscreen=""></iframe>
		</div>
	</div>
</Layout>
