---
import Layout from "../../layouts/Layout.astro";
import { FILE_NAMES } from "../../aux/constants";
import SectionDownload from "../../components/downloads/SectionDownload.astro";

const entries = Object.entries(FILE_NAMES);
---

<Layout>
	<div class="text-center my-8">
		<h2 class="text-3xl font-semibold text-gray-800 tracking-wide">
			Descargas
		</h2>
		<div class="w-16 h-1 bg-yellow-500 mx-auto mt-2 rounded"></div>
	</div>
	<p>
		Por razones de actualización constante, la información aquí mostrada puede
		diferir de lo que necesita. Puede contactarnos al mail o whatsapp por
		información actualizada.
	</p>
	<div class="grid grid-cols-3">
		{
			entries.map(([title]) => (
				<SectionDownload title={title} files={FILE_NAMES[title]} />
			))
		}
	</div>
</Layout>
