---
const { title } = Astro.props;
---

<div class="flex">
	<div class="col-12" id="banner-section">
		<h1>{title}</h1>
	</div>
</div>

<style>
	#banner-section {
		width: 100%;
		display: inline-block;
		background-color: gainsboro;
		background-image: url("../../assets/banner.jpg");
		background-size: cover;
		background-position: 1%;
		background-position-y: 10%;
		height: fit-content;
	}

	#banner-section h1 {
		margin: 5%;
		font-size: 36px;
		padding-left: 10%;
		color: #d62a2a;
	}
</style>
