<!-- Sección de productos -->
<div class="my-16">
	<h1 class="text-6xl font-bold mb-8 text-right">Productos</h1>
	<div
		class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-3 justify-center">
		<div class="grid grid-cols-1 gap-3">
			<div class="bg-gray-200 p-8 rounded-md">
				<p class="text-3xl font-bold">Placas</p>
			</div>
			<div class="bg-gray-200 p-8 rounded-md">
				<p class="text-3xl font-bold">Tableros</p>
			</div>
		</div>
		<div class="relative bg-gray-200 p-8 rounded-md h-[500px]">
			<p class="text-3xl font-bold">Displays</p>
		</div>
	</div>
</div>
